<div align="center">
    <table border="2">
        <thead>
            <tr align="center">
                <th>EmpId</th>
                <th>EmpName</th>
                <th>Salary</th>
                <th>Gender</th>
                <th>DateOfJoin</th>
                <th>Country</th>
                <th>Email-Id</th>
                <th>Password</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let emp of employees" align="center">
                <td>{{emp.empId}}</td>
                <td>{{emp.empName}}</td>
                <td>{{emp.salary}}</td>
                <td>{{emp.gender}}</td>
                <td>{{emp.doj}}</td>
                <td>{{emp.country}}</td>
                <td>{{emp.emailId}}</td>
                <td>{{emp.password}}</td>
            </tr>
        </tbody>
    </table>
</div>