<h1>Welcome to the page</h1>
Id: {{id}}<br/>
Name: {{name}} <br/>
Avg : {{avg}} <br/><br/>

<b><u>Address</u></b><br/>
StreetNo : {{address.StreetNo}} <br/>
City : {{address.City}} <br/>
State : {{address.State}} <br/>
pinclode : {{address.pincode}} <br/>

<b><u>Hobbies</u></b><br/>
<ul>
    <li *ngFor="let hobby of hobbies">{{hobby}}</li>
</ul>