<div align="center">
    <table border="2">
        <thead>
            <tr align="center">
                <th>ProId</th>
                <th>ProName</th>
                <th>ProPrice</th>
                <th>ProBrand</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let pro of products" align="center">
                <td>{{pro.ProId}}</td>
                <td>{{pro.ProName}}</td>
                <td>{{pro.ProPrice}}</td>
                <td>{{pro.ProBrand}}</td>
               
            </tr>
        </tbody>
    </table>
</div>
