<h1 align="center">Login Form</h1>
<div>
<form #loginForm="ngForm" (ngSubmit)="loginSubmit(loginForm.value)">
	<table align="center">
		<tr>
			<td>Enter EmailId</td>
			<td><input type="text" name="emailId" ngModel/></td>
		</tr>
		<tr>
			<td>Enter Password</td>
			<td><input type="password" name="password" ngModel /></td>
		</tr>
		<tr>
			<td></td>
			<td><button (click)="submit()">Login</button></td>
		</tr>
	</table>
</form>
</div>