<div align="center">

    <form #products="ngForm" (ngSubmit)="getProById(products.value)">
        <table>
            <tr>
                <td align="right">Enter Product ID</td>
                <td align="left"><input type="text" name="ProId" ngModel /></td>
            </tr>
            <tr>
                <td></td>
                <td align="left"><button>GetProduct</button></td>
            </tr>
        </table>
    </form>
</div>
<br/>


<div *ngIf="pro; else notfound" align="center">
    <table border="2">
        <thead>
            <tr align="center">
                <th>ProId</th>
                <th>ProName</th>
                <th>ProPrice</th>
                <th>ProBrand</th>
            </tr>
        </thead>
        <tbody>
            <tr align="center">
                <td>{{pro.ProId}}</td>
                <td>{{pro.ProName}}</td>
                <td>{{pro.ProPrice}}</td>
                <td>{{pro.ProBrand}}</td>
            </tr>
        </tbody>
    </table>
</div>


<div>
    <ng-template #notfound>
        <h4 align="center">Employee record not found</h4>
    </ng-template>
</div>


