<h1 align='center'>Employee Registration</h1>

<div>
<form #RegisterForm="ngForm" (ngSubmit)="RegisterSubmit(RegisterForm.value)">

	<table align="center">
		<tr>
			<td>Name</td>
			<td><input type="text" name="Name" [(ngModel)]="this.Name"/></td>
		</tr>
		<tr>
			<td>Salary</td>
			<td><input type="text" name="salary" [(ngModel)]="this.Salary" /></td>
		</tr>
		<tr>
			<td>Gender</td>
			<td>
				<select name="gender" [(ngModel)]="this.Gender">
					<option value="" selected>Select Gender</option>
					<option value="Male">Male</option>
					<option value="Female">Female</option>
					<option value="Others">Others</option>
				</select>
			</td>
		</tr>
		<tr>
			<td>EmailAddress</td>
			<td><input type="text" name="EmailAddress" [(ngModel)]="this.EmailAddress" /></td>
		</tr>
		<tr>
			<td>Password</td>
			<td><input type="password" name="Password" [(ngModel)]="this.Password"/></td>
		</tr>
		<tr>
			<td></td>
			<td>
				<button (click)="submit()">Register</button> Already User? <a href="Login.html">SignIn</a>
			</td>
		</tr>
	</table>
</form>
</div>